<!DOCTYPE html><!--  Last Published: Wed Jun 08 2022 22:45:11 GMT+0000 (Coordinated Universal Time)  -->
<html data-wf-page="6296a2a342e056b1c22006d6" data-wf-site="6296a2a342e0562da82006d5">
<head>
  <%- include('metas'); %>
  <link href="css/normalize.css" rel="stylesheet" type="text/css">
  <link href="css/components.css" rel="stylesheet" type="text/css">
  <link href="css/naru16-apartamentos.css" rel="stylesheet" type="text/css">
  <link href="images/favicon.png" rel="shortcut icon" type="image/x-icon">
  <link href="images/webclip.png" rel="apple-touch-icon">
  <%- include('gtag-head'); %>
</head>
<body class="body">
  <%- include('gtag-body'); %>

  <div data-w-id="e50f0e8a-4d96-9aaa-73ab-09c91352bc2f" class="site--main-menu wf-section">
    <div data-collapse="medium" data-animation="default" data-duration="400" data-easing="ease" data-easing2="ease" role="banner" class="navbar w-nav">
      <a href="#" class="brand w-nav-brand"><img src="images/Grupo-475.png" loading="lazy" sizes="(max-width: 479px) 100vw, (max-width: 991px) 200px, 146.96875px" height="" srcset="images/Grupo-475.png 500w, images/Grupo-475.png 800w, images/Grupo-475.png 1080w" alt="" class="image-10"></a>
      <nav role="navigation" class="nav-menu w-nav-menu">
        <a href="#Amenidades" class="menu w-nav-link">Amenidades</a>
        <a href="#Residencias" class="menu w-nav-link">APARTAMENTOS</a>
        <a href="#Acabados" class="menu w-nav-link">Acabados</a>
        <a href="#Ubicacion" class="menu w-nav-link">Ubicación</a>
        <a href="#Contacto" class="menu cc w-nav-link">Contacto</a>
      </nav>
      <div class="menu-button w-nav-button">
        <div class="icon w-icon-nav-menu"></div>
      </div>
    </div>
  </div>
  <section class="site--hero wf-section">
    <div data-delay="4000" data-animation="slide" class="slider w-slider" data-autoplay="true" data-easing="ease" data-hide-arrows="false" data-disable-swipe="true" data-autoplay-limit="0" data-nav-spacing="3" data-duration="1800" data-infinite="true">
      <div class="mask-2 w-slider-mask">
        <div class="slide w-slide"></div>
        <div class="slider2 w-slide"></div>
        <div class="slider3 w-slide"></div>
        <div class="slider4 w-slide"></div>
        <div class="slider5 w-slide"></div>
      </div>
      <div class="hero--contents">
        <div class="div-block hero-contents">
          <div class="text-block">NARU16 APARTAMENTOS</div>
          <h1 class="heading">VIVE EN EQUILIBRIO</h1>
          <div class="text-block-2">Encuentra el balance de tus compromisos<br>y tener más tiempo para vivir.</div>
          <a href="#Naturaleza" class="w-inline-block"><img loading="lazy" width="42" src="images/Trazado-2833.png" alt="" class="main-image"></a>
        </div>
      </div>
      <div class="left-arrow w-slider-arrow-left">
        <div class="icon-2 w-icon-slider-left"></div>
      </div>
      <div class="right-arrow w-slider-arrow-right">
        <div class="icon-3 w-icon-slider-right"></div>
      </div>
      <div class="slide-nav w-slider-nav"></div>
    </div>
  </section>
  <div class="section-7 wf-section">
    <div class="text-block">NARU16 APARTAMENTOS</div>
    <h1 class="heading-5">VIVE EN EQUILIBRIO</h1>
    <div class="text-block-25">Encuentra el balance de tus compromisos<br>y tener más tiempo para vivir.</div>
  </div>
  <div id="Naturaleza" class="section-6 wf-section">
    <div class="w-layout-grid grid-3">
      <div id="w-node-_91b2c41f-fb27-3945-953c-f6176db0e935-c22006d6" class="div-block-2 nature-contents">
        <div class="brisia-nature">
          <div class="text-block-3">NARU16 APARTAMENTOS</div>
          <h2 class="heading-2">Más de lo que sueñas</h2>
          <div class="text-block-4">Naru16 cuenta con las amenidades perfectas para transformar el tiempo libre, en tiempo de calidad.</div>
          <div class="html-embed w-embed">
            <div style="background:#C07265;height:5px"></div>
          </div>
          <div class="columns w-row">
            <div class="column w-col w-col-6">
              <div class="div-block-13"><img src="images/Grupo-448.png" loading="lazy" alt="" class="image-27">
                <div class="text-block-23">Recepción</div>
              </div>
              <div class="div-block-13"><img src="images/Grupo-449.png" loading="lazy" alt="" class="image-27">
                <div class="text-block-23">Salón social</div>
              </div>
              <div class="div-block-13"><img src="images/Grupo-450.png" loading="lazy" alt="" class="image-27">
                <div class="text-block-23">Business center</div>
              </div>
              <div class="div-block-13"><img src="images/Grupo-451.png" loading="lazy" alt="" class="image-27">
                <div class="text-block-23">Baby care</div>
              </div>
              <div class="div-block-13"><img src="images/Grupo-455.png" loading="lazy" alt="" class="image-27">
                <div class="text-block-23">Playground</div>
              </div>
              <div class="div-block-13"><img src="images/Grupo-454.png" loading="lazy" alt="" class="image-27">
                <div class="text-block-23">Pool bar<br>play zone</div>
              </div>
            </div>
            <div class="column-2 w-col w-col-6">
              <div class="div-block-13"><img src="images/Grupo-453.png" loading="lazy" alt="" class="image-27">
                <div class="text-block-23">Pet zone</div>
              </div>
              <div class="div-block-13"><img src="images/Grupo-452.png" loading="lazy" alt="" class="image-27">
                <div class="text-block-23">Gimnasio +<br>yoga deck</div>
              </div>
              <div class="div-block-13"><img src="images/Grupo-456.png" loading="lazy" alt="" class="image-27">
                <div class="text-block-23">Piscina</div>
              </div>
              <div class="div-block-13"><img src="images/Grupo-457.png" loading="lazy" alt="" class="image-27">
                <div class="text-block-23">Fire pit</div>
              </div>
              <div class="div-block-13"><img src="images/Grupo-458.png" loading="lazy" alt="" class="image-27">
                <div class="text-block-23">Drop off</div>
              </div>
            </div>
          </div>
          <a href="#Contacto" class="button--secondary w-inline-block">
            <div class="cta-1">MÁS INFORMACIÓN</div>
          </a>
        </div>
      </div>
      <div class="cajafo"><img src="images/piscina-montaje-1.jpg" loading="lazy" height="705" sizes="(max-width: 991px) 100vw, 55vw" width="840" srcset="images/piscina-montaje-1-p-500.jpg 500w, images/piscina-montaje-1-p-800.jpg 800w, images/piscina-montaje-1-p-1080.jpg 1080w, images/piscina-montaje-1.jpg 1438w" alt="" class="image-14 nature-image"></div>
    </div>
  </div>
  <div id="Naturaleza" class="site--description mobile--blur wf-section">
    <div class="w-layout-grid grid-3">
      <div id="w-node-be7a7a28-c92c-d619-e5b7-6fd71d1ec6c1-c22006d6" class="div-block-2 nature-contents">
        <div class="div-block-14">
          <div class="text-block-3">NARU16 APARTAMENTOS</div>
          <h2 class="heading-2">Automatiza tu nuevo hogaR</h2>
          <div class="html-embed w-embed">
            <div style="background:#BE7267;height:5px"></div>
          </div>
          <div class="text-block-4">En Naru16 puedes disfrutar de tu nuevo apartamento, implementado con la última tecnología para automatizar cada ambiente.</div>
          <div class="columns w-row">
            <div class="column w-col w-col-6">
              <div class="div-block-13"><img src="images/Grupo-4762x.png" loading="lazy" alt="" class="image-27">
                <div class="text-block-23"><strong class="bold-text">Certificación al edificio</strong><br>Le Grand empresa alemana alianza. Certifica el edificio a nivel tecnológico.</div>
              </div>
              <div class="div-block-13"><img src="images/Recurso-62x.png" loading="lazy" alt="" class="image-27">
                <div class="text-block-23"><strong class="bold-text">Apartamentos Inteligentes</strong><br>Áreas comunes con acceso, audio e iluminación automatizadas.</div>
              </div>
            </div>
            <div class="column-2 w-col w-col-6">
              <div class="div-block-13"><img src="images/Grupo-4782x.png" loading="lazy" alt="" class="image-27">
                <div class="text-block-23"><strong class="bold-text">Automatización</strong><br>Apartamentos automatizados y controlados a través de smartphone.</div>
              </div>
              <div class="div-block-13"><img src="images/Recurso-52x.png" loading="lazy" alt="" class="image-27">
                <div class="text-block-23"><strong class="bold-text">Sistema de control<br></strong>Seguridad perimetral y controles de accesos automatizados.</div>
              </div>
            </div>
          </div>
          <a href="#Contacto" class="button--secondary w-inline-block">
            <div class="cta-1">MÁS INFORMACIÓN</div>
          </a>
          <a href="#Contacto" class="cta2 w-inline-block"></a>
        </div>
      </div>
      <div class="div-block-15"><img src="images/naru_legrand-1.jpg" loading="lazy" height="705" width="840" sizes="(max-width: 479px) 100vw, (max-width: 767px) 490px, (max-width: 991px) 50vw, 33vw" srcset="images/naru_legrand-1-p-500.jpg 500w, images/naru_legrand-1-p-800.jpg 800w, images/naru_legrand-1-p-1080.jpg 1080w, images/naru_legrand-1.jpg 1500w" alt="" class="image-14 nature-image"></div>
    </div>
  </div>
  <div id="Amenidades" class="section-9 wf-section">
    <div class="container-2 w-container">
      <div data-delay="4000" data-animation="slide" class="slider-8 w-slider" data-autoplay="false" data-easing="ease" data-hide-arrows="false" data-disable-swipe="false" data-autoplay-limit="0" data-nav-spacing="3" data-duration="500" data-infinite="true">
        <div class="mask-6 w-slider-mask">
          <div class="slide-33 w-slide"><img srcset="images/Sin-título-p-500.jpg 500w, images/Sin-título.jpg 512w" sizes="(max-width: 479px) 100vw, (max-width: 767px) 39vw, (max-width: 991px) 37vw, 32vw" src="images/Sin-título.jpg" loading="lazy" alt="" class="image-31"></div>
          <div class="slide-33 w-slide"><img srcset="images/Sin-título11-p-500.jpg 500w, images/Sin-título11.jpg 512w" sizes="(max-width: 479px) 100vw, (max-width: 767px) 39vw, (max-width: 991px) 37vw, 32vw" src="images/Sin-título11.jpg" loading="lazy" alt="" class="image-31"></div>
          <div class="slide-33 w-slide"><img srcset="images/Sin-título3-p-500.jpg 500w, images/Sin-título3.jpg 512w" sizes="(max-width: 479px) 100vw, (max-width: 767px) 39vw, (max-width: 991px) 37vw, 32vw" src="images/Sin-título3.jpg" loading="lazy" alt="" class="image-31"></div>
          <div class="slide-33 w-slide"><img srcset="images/Sin-título2-p-500.jpg 500w, images/Sin-título2.jpg 512w" sizes="(max-width: 479px) 100vw, (max-width: 767px) 39vw, (max-width: 991px) 37vw, 32vw" src="images/Sin-título2.jpg" loading="lazy" alt="" class="image-31"></div>
          <div class="slide-33 w-slide"><img srcset="images/Sin-título5-p-500.jpg 500w, images/Sin-título5.jpg 512w" sizes="(max-width: 479px) 100vw, (max-width: 767px) 39vw, (max-width: 991px) 37vw, 32vw" src="images/Sin-título5.jpg" loading="lazy" alt="" class="image-31"></div>
          <div class="slide-33 w-slide"><img srcset="images/Sin-título6-p-500.jpg 500w, images/Sin-título6.jpg 512w" sizes="(max-width: 479px) 100vw, (max-width: 767px) 39vw, (max-width: 991px) 37vw, 32vw" src="images/Sin-título6.jpg" loading="lazy" alt="" class="image-31"></div>
          <div class="slide-33 w-slide"><img srcset="images/Sin-título1-p-500.jpg 500w, images/Sin-título1.jpg 512w" sizes="(max-width: 479px) 100vw, (max-width: 767px) 39vw, (max-width: 991px) 37vw, 32vw" src="images/Sin-título1.jpg" loading="lazy" alt="" class="image-31"></div>
          <div class="slide-33 w-slide"><img srcset="images/Sin-título8-p-500.jpg 500w, images/Sin-título8.jpg 512w" sizes="(max-width: 479px) 100vw, (max-width: 767px) 39vw, (max-width: 991px) 37vw, 32vw" src="images/Sin-título8.jpg" loading="lazy" alt="" class="image-31"></div>
          <div class="slide-33 w-slide"><img srcset="images/Sin-título4-p-500.jpg 500w, images/Sin-título4.jpg 512w" sizes="(max-width: 479px) 100vw, (max-width: 767px) 39vw, (max-width: 991px) 37vw, 32vw" src="images/Sin-título4.jpg" loading="lazy" alt="" class="image-31"></div>
        </div>
        <div class="w-slider-arrow-left">
          <div class="icon-11 w-icon-slider-left"></div>
        </div>
        <div class="w-slider-arrow-right">
          <div class="icon-10 w-icon-slider-right"></div>
        </div>
        <div class="slide-nav-10 w-slider-nav w-round"></div>
      </div>
    </div>
  </div>
  <div id="Residencias" class="site--apartments wf-section">
    <div class="apartments--container">
      <div class="w-container">
        <div class="text-block-6 labellogo">NARU16 APARTAMENTOS</div>
        <h3 class="heading-3">APARTAMENTOS</h3>
      </div>
      <div data-duration-in="300" data-duration-out="100" data-current="Tab 1" data-easing="ease" class="tabs site--main-tabs w-tabs">
        <div class="tabs-menu w-tab-menu">
          <a data-w-tab="Tab 1" class="tab-link-tab-2 w-inline-block w-tab-link w--current">
            <div class="text-block-10">APARTAMENTO 105</div>
          </a>
          <a data-w-tab="Tab 2" class="tab-link-tab-2 w-inline-block w-tab-link">
            <div class="text-block-10">APARTAMENTO 77</div>
          </a>
        </div>
        <div class="tabs-content w-tab-content">
          <div data-w-tab="Tab 1" class="w-tab-pane w--tab-active">
            <div class="tab-conten"><img width="673" height="473" src="images/apto-105.png" loading="lazy" sizes="(max-width: 479px) 100vw, (max-width: 767px) 78vw, (max-width: 991px) 41vw, 42vw" srcset="images/apto-105-p-500.png 500w, images/apto-105.png 673w" alt="" class="image-24">
              <div class="div-block-4">
                <div class="text-block-11">CUOTAS DESDE: US$<strong>1,500</strong></div>
                <ul role="list" class="list-3">
                  <li class="list-item-11">Sala</li>
                  <li class="list-item-11">Balcón</li>
                  <li class="list-item-11">Comedor</li>
                  <li class="list-item-11">Cocina + desayunador</li>
                  <li class="list-item-11">Dormitorio principal con <br>closet y baño</li>
                  <li class="list-item-11">Dos dormitorios secundarios con closet</li>
                  <li class="list-item-11">Lavandería</li>
                  <li class="list-item-11">Baño compartido</li>
                  <li class="list-item-11">Baño de visitas</li>
                </ul>
                <a href="#Contacto" class="link-block-2 button--secondary w-inline-block">
                  <div class="text-block-22">Más información</div>
                </a>
              </div>
            </div>
          </div>
          <div data-w-tab="Tab 2" class="w-tab-pane">
            <div class="tab-conten"><img width="673" height="473" src="images/apto-77.png" loading="lazy" sizes="(max-width: 479px) 100vw, (max-width: 767px) 78vw, (max-width: 991px) 41vw, 42vw" srcset="images/apto-77-p-500.png 500w, images/apto-77-p-800.png 800w, images/apto-77-p-1080.png 1080w, images/apto-77.png 1500w" alt="" class="image-25">
              <div class="div-block-4">
                <div class="text-block-11">CUOTAS DESDE: US$<strong>1,100 </strong></div>
                <ul role="list" class="list-3">
                  <li class="list-item-11">Sala</li>
                  <li class="list-item-11">Balcón</li>
                  <li class="list-item-11">Comedor</li>
                  <li class="list-item-11">Lavandería</li>
                  <li class="list-item-11">Dos dormitorios secundarios con closet</li>
                  <li class="list-item-11">Dormitorio principal con <br>closet y baño</li>
                  <li class="list-item-11">Baño compartido</li>
                  <li class="list-item-11">Baño de visitas</li>
                </ul>
                <a href="#Contacto" class="link-block-2 button--secondary w-inline-block">
                  <div class="text-block-22">Más información</div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="Contacto" class="site--contact wf-section">
    <div id="contacto" class="w-layout-grid grid-11"><img src="images/naru16-formulario-o.jpg" loading="lazy" width="830" height="800" sizes="100vw" srcset="images/naru16-formulario-o-p-500.jpeg 500w, images/naru16-formulario-o.jpg 830w" alt="Naru16 render" class="image-22">
      <div id="w-node-edd241ff-d3a2-7379-397a-5af206c9e685-c22006d6" class="div-block-5">
        <div class="text-block-19 defaulttextcolor">NARU16 APARTAMENTOS</div>
        <h5 class="heading-2 defaulttextcolor">Agenda tu cita</h5>
        <div class="html-embed w-embed">
          <div style="background:#BE7267;height:5px"></div>
        </div>
        <div class="text-block-18 defaulttextcolor">Encuentra un equilibrio entre tus rutinas y los tiempos para vivir en tu nuevo apartamento, déjanos tus datos y pronto nos pondremos en contacto contigo..</div>
      <div class="form-block-2 w-form">
          <form id="contactForm" name="email-form" data-name="Email Form" method="get" class="form-3">
            <input type="text" class="input-form w-input" maxlength="256" name="name" data-name="Name" placeholder="*NOMBRE COMPLETO" id="name">
            <input type="email" class="input-form w-input" maxlength="256" name="email" data-name="Email 2" placeholder="*Correo" id="email-2" required="">
            <input type="tel" class="input-form w-input" maxlength="256" name="phone" data-name="Phone" placeholder="*TELÃ‰FONO" id="phone" required="">
            <select id="model" name="model" data-name="Model" required="" class="input-form w-select">
              <option value="">*MODELO DE APARTAMENTO</option>
              <option value="77m²- 2 habitaciones">77mÂ²- 2 habitaciones</option>
              <option value="105m² - 3 habitaciones">105mÂ² - 3 habitaciones</option>
            </select><input type="submit" value="Enviar" data-wait="Espere..." id="send-button w-node-edd241ff-d3a2-7379-397a-5af206c9e694-cd6f3743" class="button-verde btn-form w-button"></form>
          <div id="form-status" class="form-status"> </div>
        </div> 
      </div>
    </div>
  </div>
  <div id="Acabados" class="site--details wf-section">
    <div class="w-layout-grid grid-12">
      <div id="w-node-_90637c67-5b6e-8c69-bb01-83d7f8de35e1-c22006d6" class="div-block-6">
        <div class="text-block-19 defaulttextcolor">NARU16 APARTAMENTOS</div>
        <h5 class="heading-2 defaulttextcolor">Detalles<br>que suman</h5>
        <div class="html-embed w-embed">
          <div style="background:#BE7267;height:5px"></div>
        </div>
        <ul role="list" class="list-4">
          <li class="list-item-11">Alturas libres de 2.4m</li>
          <li class="list-item-11">Cielos arremetidos en áreas sociales</li>
          <li class="list-item-11">Puertas de madera enchapada</li>
          <li class="list-item-11">Pisos de porcelanato importados</li>
          <li class="list-item-11">Zócalo de madera</li>
          <li class="list-item-11">Ventanería de PVC</li>
          <li class="list-item-11">Cocinas con top de cuarzo</li>
          <li class="list-item-11">Clósets y gabinetes de baños de melaminas importadas</li>
        </ul>
        <a href="#Contacto" class="button--secondary-2 w-inline-block">
          <div class="text-block-28">MÁS INFORMACIÓN</div>
        </a>
      </div>
      <div>
        <div class="w-layout-grid grid-13"><img src="images/naru16-acabados-77.jpg" loading="lazy" width="500" height="500" alt="Naru16 acabados" class="details-image-block"><img src="images/naru16-acabados-277.jpg" loading="lazy" width="432" height="492" id="w-node-_90637c67-5b6e-8c69-bb01-83d7f8de35ff-c22006d6" alt="Naru16 acabados" class="image-26"></div>
      </div>
    </div>
  </div>
  <div id="Ubicacion" class="site--location wf-section">
    <div class="w-layout-grid grid-14">
      <div id="w-node-_6dab6c7d-9ea5-b678-008d-ae69ceb3433a-c22006d6" class="w-embed w-iframe"><iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15444.346336039307!2d-90.4604565!3d14.5941419!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8589a3ddc7299f19%3A0x4ccb6a546d3d5c34!2sNaru16%20Apartamentos!5e0!3m2!1ses!2sgt!4v1668176326182!5m2!1ses!2sgt" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div>
      <div id="w-node-_43b0ac9b-bb06-b683-1dfb-a05ccdbcd0e9-c22006d6" class="div-block-12">
        <div class="text-block-19 defaulttextcolor">NARU16 APARTAMENTOS</div>
        <h6 class="heading-2 defaulttextcolor">la tranquilidad de tenerlo todo cerca</h6>
        <div class="html-embed w-embed">
          <div style="background:#BE7267;height:5px"></div>
        </div>
        <div class="text-block-18 defaulttextcolor">Vivir a pocos minutos de centros comerciales, supermercados, bancos, universidades y colegios, te dará tiempo para disfrutar de lo que más importa: tu familia.</div>
        <a href="https://waze.com/ul/h9fxej8b8d" class="button--secondary wzew w-inline-block">
          <div class="text-block-29">VER EN WAZE</div>
        </a>
        <a id="live-map-directions-cascadas-de-vista-hermosa-residencial-vista-hermosa-4-zona-16--guatemala-to-place.w.176619666.1766458804.3775108" href="https://www.waze.com/es-419/live-map/directions/cascadas-de-vista-hermosa-residencial-vista-hermosa-4-zona-16,-guatemala?to=place.w.176619666.1766458804.3775108" class="button-verde oculto w-inline-block">
          <div class="btn-verde"><strong>VER EN WAZE</strong></div>
        </a>
      </div>
    </div>
  </div>
  <div class="footer--first">
    <div class="div-block-7"><img src="images/Grupo-475.png" loading="lazy" height="" id="w-node-c1f371f9-4817-2fad-2ae3-a21bd7bcfe94-c22006d6" srcset="images/Grupo-475.png 500w, images/Grupo-475.png 800w, images/Grupo-475.png 1080w" sizes="(max-width: 479px) 100vw, (max-width: 767px) 13vw, (max-width: 991px) 12vw, 8vw" alt="" class="image-17">
      <div>
        <div class="text-block-21">Tel: +502 5303-1002<br>Diagonal 45, 42-09, Colonia Vista Hermosa IV,<br>zona 16, Ciudad de Guatemala.</div>
      </div>
      <div id="w-node-c1f371f9-4817-2fad-2ae3-a21bd7bcfe9c-c22006d6" class="div-block-8">
        <div class="text-block-15">Visita nuestras redes sociales:</div>
        <a href="https://www.facebook.com/naru16gt/" target="_blank" class="link-block-3 w-inline-block"><img src="images/facebook_1facebook.png" loading="lazy" width="28" height="56" alt="Brisia Facebook Page" class="image-11"></a>
        <a href="https://instagram.com/naru16.gt" target="_blank" class="link-block-4 w-inline-block"><img src="images/instagram_1instagram.png" loading="lazy" width="56" height="56" alt="Brisia Instagram Page" class="image-12"></a>
      </div>
    </div>
  </div>
  <div class="footer--second">
    <div class="footer--logos">
      <div class="text-block-27">Inmobiliaria J3 en alianza con la firma de arquitectos Premium, presentan Brisia como un revolucionario concepto de vivienda sostenible, inspirado en la vida en familia y la integración con la naturaleza. El desarrollo del proyecto, a cargo de Premarsa y reconocidos equipos de ingeniería y construcción, garantiza su solidez y trascendencia.</div><img src="images/logos-footer.png" loading="lazy" height="108" width="335" alt="logos" class="image-13">
      <a href="http://wa.link/62rj1j" target="_blank" class="whasapp w-inline-block"><img src="images/whatsapp-icono_1whatsapp-icono.png" loading="lazy" height="70" width="70" alt="whatsapp" class="image-23"></a>
    </div>
    <div class="div-block-10">
      <div class="text-block-14">Inmobiliaria J3 en alianza con la firma de arquitectos Premium, presentan Brisia como un revolucionario concepto de vivienda sostenible, inspirado en la vida en familia y la integración con la naturaleza. El desarrollo del proyecto, a cargo de Premarsa y reconocidos equipos de ingeniería y construcción, garantiza su solidez y trascendencia.</div>
      <div id="w-node-d03bbfe1-e01e-da82-14f8-bfbb9e80d9c3-c22006d6" class="footer--logos"><img src="images/logos-footer.png" loading="lazy" height="" alt="logos" class="image-13"></div>
    </div>
  </div>
  
  <%- include('scripts-footer'); %>
</body>
</html>