<meta charset="utf-8">

<meta content="width=device-width, initial-scale=1" name="viewport">

<title>Naru16 - Apartamentos en Zona 16</title>

<meta name="description" content="Descubre el verdadero valor de vivir en equilibrio. Apartamentos de 2-3 habitaciones en la tranquilidad de zona 16." />

<link rel="canonical" href="https://naru16.com.gt" />

<meta property="og:locale" content="es_ES" />

<meta property="og:type" content="website" />

<meta property="og:title" content="Naru16 - Apartamentos en Zona 16" />

<meta property="og:description" content="Descubre el verdadero valor de vivir en equilibrio. Apartamentos de 2-3 habitaciones en la tranquilidad de zona 16." />

<meta property="og:url" content="https://naru16.com.gt" />

<meta property="og:site_name" content="Naru16 - Apartamentos en Zona 16" />

<meta property="article:modified_time" content="2021-08-26T21:48:24+00:00" />

<meta property="article:publisher" content="https://www.facebook.com/Naru16-107356018242759/" />

<meta property="og:image" content="https://naru16.com.gt/cover.jpeg" />

<meta name="twitter:card" content="summary_large_image" />
